input[type='radio'] {
  background: var(--text-white-color);
  border: 1px solid var(--form-bg);
  transition: 0.2s;
  border-radius: 100%;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input[type='radio']:checked {
  background: var(--text-orange-color);
  border: 1px solid var(--text-orange-color);
}
input[type='radio']:hover {
  background: var(--text-lightOrange-color);
  border: 1px solid var(--text-orange-color);
}
input[type='radio']:focus {
  background: var(--text-orange-color);
}

.radio {
  &Inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 40px 77px 28px 40px;
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      margin: 21px 77px 21px 40px;
    }
    @media (max-width: 350px) {
      grid-template-columns: 1fr;
    }
  }

  &InputLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
  }

  &LabelText {
    font-size: 24px;
    color: var(--text-black-color);
    @media (max-width: 1024px) {
      font-size: 20px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}
